
:root {
    --color-primario: #004a99;  /* Azul */
    --color-secundario: #ffcc00; /* Amarillo */
    --color-texto: #333333;
    --color-fondo: #f4f4f9;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
}


.navbar {
    background-color: var(--color-primario);
}

.navbar-brand h1 {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 5px;
}

.btn-outline-custom {
    border-color: var(--color-secundario);
    color: var(--color-secundario);
    font-weight: bold;
}

.btn-outline-custom:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-color: var(--color-secundario);
}


.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox%3D%270 0 30 30%27 xmlns%3D%27http://www.w3.org/2000/svg%27%3E%3Cpath stroke%3D%27rgba%28255, 255, 255, 1%29%27 stroke-width%3D%272%27 stroke-linecap%3D%27round%27 stroke-miterlimit%3D%2710%27 d%3D%27M4 7h22M4 15h22M4 23h22%27/%3E%3C/svg%3E");
}

.footer {
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
